.footermain{
    background-color: #507589;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.footermain p{
    margin:  0;
}